[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "~=2.12.0"

[packages]
django = "~=2.2.13"
psycopg2 = "~=2.8.2"
django-enumfield = "~=1.5"
djangorestframework = "~=3.9.4"
coverage = "~=4.5.3"
django-nose = "~=1.4.6"
requests = "~=2.21.0"
django-cors-headers = "~=3.0.1"
coreapi = "~=2.3.3"
django-phonenumber-field = "~=2.4.0"
phonenumberslite = "~=8.10.11"
python-dateutil = "~=2.8.0"
python-dotenv = "~=0.10.2"
django-filter = "~=2.1.0"
sentry-sdk = "~=0.7.14"

[requires]
python_version = "3.7"
