[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"

[packages]
django = "*"
psycopg2 = "*"
django-enumfield = "*"
djangorestframework = "*"
coverage = "*"
django-nose = "*"
requests = "*"
django-cors-headers = "*"
coreapi = "*"

[requires]
python_version = "3.7"
